.floating-language-buttons {
  position: fixed;
  top: 20%;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 1000;
}

.flag-icon {
  width: 40px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.flag-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.floating-whatsapp-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #25d366;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.floating-whatsapp-button:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.floating-whatsapp-button i {
  color: white;
  font-size: 2rem;
}

.floating-instagram-button {
  position: fixed;
  bottom: 90px; /* Ajusta la posición para que no se solape con el botón de WhatsApp */
  left: 20px;
  background-color: #e1306c;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.floating-instagram-button:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.floating-instagram-button i {
  color: white;
  font-size: 2rem;
}
