<!-- Language Buttons -->
  <div class="floating-language-buttons">
    <a (click)="translationService.setLanguage('es')">
      <img src="../../../assets/images/espana.png" alt="Spanish" class="flag-icon" />
    </a>
    <a (click)="translationService.setLanguage('en')">
      <img src="../../../assets/images/reino-unido.png" alt="English" class="flag-icon" />
    </a>
  </div>
  
  <!-- WhatsApp Button -->
  <div class="floating-whatsapp-button">
    <a href="https://wa.me/573043807052" target="_blank" title="WhatsApp">
      <i class="fab fa-whatsapp"></i>
    </a>
  </div>

  <!-- Instagram Button -->
<div class="floating-instagram-button">
  <a href="https://www.instagram.com/dr.davidcastano" target="_blank" title="Instagram">
    <i class="fab fa-instagram"></i>
  </a>
</div>