/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
// Import the Oswald font
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

body {
  // font-family: 'Oswald', Arial, sans-serif !important;
  // font-family: 'Open Sans', sans-serif !important;
  font-family: 'Merriweather', serif !important;
  // font-family: 'Nunito', sans-serif !important;
  // font-family: 'Lato', sans-serif !important;
  // font-family: 'Poppins', sans-serif !important;
  // font-family: 'Roboto', sans-serif !important;

  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333; /* Default text color */
}

h1, h2, h3 {
  // font-family: 'Oswald', sans-serif !important;
  // font-family: 'Open Sans', sans-serif !important;
  font-family: 'Merriweather', serif !important;
  // font-family: 'Nunito', sans-serif !important;
  // font-family: 'Lato', sans-serif !important;
  // font-family: 'Poppins', sans-serif !important;
  // font-family: 'Roboto', sans-serif !important;
}

